<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">  
 	<!-- 配置数据源 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
	        <list>
	            <value>classpath:jdbc.properties</value>
	        </list>
    	</property>
	 </bean>
    	 
	<bean id="baseDatasoucre" abstract="true">
		<property name="driverClassName" value="${jdbc.dataSource.driverClassName}"></property>
		<property name="initialSize" value="${jdbc.dataSource.initialSize}"></property>
		<property name="maxActive" value="${jdbc.dataSource.maxActive}"></property>
		<property name="maxIdle" value="${jdbc.dataSource.maxIdle}"></property>
		<property name="maxWait" value="${jdbc.dataSource.maxWait}"></property>
		<property name="minIdle" value="${jdbc.dataSource.minIdle}"></property>
		<property name="validationQuery" value="${jdbc.dataSource.validationQuery}"></property>
		<property name="testOnBorrow" value="${jdbc.dataSource.testOnBorrow}"></property>
		<property name="removeAbandoned" value="${jdbc.dataSource.removeAbandoned}"></property>
		<property name="removeAbandonedTimeout" value="${jdbc.dataSource.removeAbandonedTimeout}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.dataSource.timeBetweenEvictionRunsMillis}"></property>
		<property name="minEvictableIdleTimeMillis" value="${jdbc.dataSource.minEvictableIdleTimeMillis}"></property>
	</bean>

	<!-- Data source - connect to a MySQL instance running on the local machine -->
    <bean id="dataSource" parent="baseDatasoucre" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="url" value="${jdbc.springbatch.url}"/>
        <property name="username" value="${jdbc.springbatch.username}"/>
        <property name="password" value="${jdbc.springbatch.password}"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- create job-meta tables automatically 

    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="org/springframework/batch/core/schema-drop-mysql.sql" />
        <jdbc:script location="org/springframework/batch/core/schema-mysql.sql" />
    </jdbc:initialize-database>
-->
	<!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 实例化sqlSessionFactory时需要使用上述配置好的数据源以及SQL映射文件 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描me/gacl/mapping/目录下的所有SQL映射的xml文件, 省掉Configuration.xml里的手工配置
        value="classpath:me/gacl/mapping/*.xml"指的是classpath(类路径)下me.gacl.mapping包中的所有xml文件
        UserMapper.xml位于me.gacl.mapping包下，这样UserMapper.xml就可以被自动扫描
         -->
     	<property name="mapperLocations" value="classpath:com/ym/demo/mapper/*.xml" />
    </bean>
    <!-- 配置扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描me.gacl.dao这个包以及它的子包下的所有映射接口类 -->
        <property name="basePackage" value="com.ym.demo.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

</beans>